<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283249386314-79j2k6lh4mjlm370orgdfqfu1rhgcl13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283249386314-79j2k6lh4mjlm370orgdfqfu1rhgcl13</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Pihs6BBOXMjP4D9nAXpzrKvWO0h8tQA</string>
	<key>GCM_SENDER_ID</key>
	<string>283249386314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shyam.NG-Mobile-App</string>
	<key>PROJECT_ID</key>
	<string>ng-mobile-system</string>
	<key>STORAGE_BUCKET</key>
	<string>ng-mobile-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283249386314:ios:721f4ba39b07ac19afd7b3</string>
</dict>
</plist>